.allpost_container {
  .allpost_wrapper {
    width: 50%;
    margin: 0 auto;
    h1 {
      font-family: "Roboto";
    }

    .allpost_search {
      display: flex;
      justify-content: space-between;

      input {
        width: 300px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;

        &:focus {
          outline: none;
        }
      }
    }

    .allPosts {
      width: 100%;
      margin-top: 20px;

      .post {
        width: 100%;
        min-height: 220px;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        .media {
          width: 30%;
          height: 220px;
        //   background: yellow;

          img {
              width: 100%;
              height: 100%;
              object-fit: contain;
          }
        }

        .title_summ {
            width: 70%;
            // background: red;
            padding-left: 10px;

            .publish_status {
                padding: 5px;
                font-size: 12px;
                border-radius: 8px;
                border: 1px solid white;
                background: green;
                color: white;
                font-weight: bold;
            }
          .title {
            margin-top: 25px;
            font-family: "Roboto";
            font-size: 19px;
            font-weight: bold;
          }

          .ft {
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
            p {
              font-style: italic;
            }
          }

          .edit_btns {
              display: flex;
              justify-content: space-evenly;
              margin-top: 25px;

              button {
                  width: 20%;
                  height: 40px;
                  background: transparent;
                  border: 1px solid white;
                  border-radius: 5px;
                  cursor: pointer;
              }
              
              .edit_btn {
                background: rgb(0, 102, 255);
                color: white;
            }

            .view_btn {
                background: green;
                color: white;
            }

            .delete_btn {
                background: red;
                color: white;
            }
          }
        }
      }
    }
  }
}
